{% extends 'wisdom/layout1.html' %}

{% load static %}


{% block body %}
<div class="signup">
    <div id="signup" class="contact-us section">
 <div class="container">
   <div class="row">
     <div class="col-lg-6 offset-lg-3">
       <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
         <h6>Sign Up for Teachers</h6>
         <h4>Join Us <em>Now</em></h4>
         <div class="line-dec"></div>
       </div>
     </div>
     <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
       <form id="contact"  method="POST">
         <div class="row">
           <div class="col-lg-12">
             <div class="contact-dec">
               <img src="{% static 'assets/images/contact-dec-v3.png' %}" alt="">
             </div>
           </div>
           <div class="col-lg-5 ">
             <p>If you already have an account <a href="/register/login">Login</a></p>
             <img src="{% static 'assets/images/WISDOM7.png' %}" style="height: 80%; width: 100%;" alt="" class="img-flex image-responsive ">
           </div>
           <div class="col-lg-7">
             <div class="fill-form">
               <div class="row">
               		{% csrf_token %}
                 <div class="col-lg-6">
                   
                   <fieldset>
        			{{t_form.category}}
                   </fieldset>

                   <fieldset>
        			{{u_form.username}}
                   </fieldset>

                    <fieldset>
        			{{u_form.first_name}}
                   </fieldset>

                   <fieldset>
        			{{u_form.last_name}}
                   </fieldset>

                 </div>
                 <div class="col-lg-6">
                 <fieldset>

        			{{u_form.email}}
                   </fieldset>
                 	<fieldset>
        			{{u_form.password1}}
                   </fieldset>

                   <fieldset>
        			{{u_form.password2}}
                   </fieldset>
                 </div>
                 <div class="col-lg-12">
                   <fieldset>
                     <button  id="form-submit" class="main-button ">Signup Here</button>
                   </fieldset>
                   <div class="danger" >
   							{% if messages %}
							<ul class="messages">
							    {% for message in messages  %}
							        <li{% if message.tag %} class="{{ message.tag}}" {% endif %}>{{message}}</li>

							    {% endfor %}
							</ul>
							{% endif %}
                   </div>
                 </div>

               </div>
             </div>
           </div>


          
         </div>
       </form>
     </div>
   </div>
 </div>
</div>
 </div>

     
{% endblock  %}
