{% extends 'wisdom/layout1.html' %}

{% load static %}


{% block body %}
<div class="about">
  
      <div id="about" class="about section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                  <div class="section-heading">
                    <h6>About Us</h6>
                    <h4>What is <em>WisdomAcademy</em></h4>
                    <div class="line-dec"></div>
                  </div>
  
                  <p class="text-dark">
                    Welcome to Wisdom Academy, an innovative and engaging online
                    learning platform that is dedicated to teaching coding and programming skills to children
                     and teenagers. Our mission is to empower the next generation with the knowledge 
                    and tools they need to succeed in the fast-paced and rapidly-evolving world of technology.
                  </p>
                  <p >
                    At Wisdom Academy, we believe that coding is one of the most valuable 
                    skills that young people can learn today. From building websites and 
                    mobile apps to designing video games and solving complex problems, the applications 
                    of coding are endless. Our experienced team of educators and industry professionals 
                    are passionate about making coding accessible and fun for learners of all levels.
                  </p>
                  <p class="text-dark">
                    We offer a comprehensive curriculum that covers a range
                     of programming languages and technologies, from Scratch and Python to
                      HTML/CSS, JavaScript, and beyond. Our courses are designed to be interactive,
                       engaging, and hands-on, with a focus on practical projects and real-world applications.
                     Whether you're a beginner or an experienced coder, our courses are tailored to your
                      needs and level of experience.
                  </p>
                  <p class="text-dark">
                    Our platform is user-friendly and intuitive, allowing learners to access our courses from anywhere with
                     an internet connection. We provide ongoing support and guidance from our team of experts, 
                     who are always on hand to answer questions, provide feedback, and help learners overcome challenges.
                     We also offer a community of fellow learners, who can share their experiences, insights, and tips.
                  </p>
                  <p>
                  At Wisdom Academy, we believe that the best way to prepare young people for the future is to equip 
                  them with the skills and knowledge they need to succeed.
                   Join us today and discover the exciting and rewarding world of coding!"
                 </p>
                </div>
              </div>
              <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <h3>
                  MISSION AND VISION
                 </h3>
                <div class="about-right-content">
            
  
                 <h4>Mission Statement:</h4>
                 <p class="text-danger">
                  Our mission is to empower the next generation of tech innovators by providing
                   accessible and engaging coding education to children and teenagers of all backgrounds. We aim to foster creativity, critical
                   thinking, and problem-solving skills, while promoting diversity, inclusivity, and a love of learning.
                 </p>
                 <h4>Vision Statement:</h4>
                 <p class="text-primary">
                  Our vision is to create a world where every young person has the opportunity to
                   learn and apply coding skills, regardless of their socioeconomic background or
                    geographic location. We strive to be a leading provider of online coding education, using the
                   latest technology and pedagogical approaches to deliver high-quality learning experiences to our students.
                 </p>
                
        
                  <div class="row">
                    <div class="col-lg-4 col-sm-4">
                      <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
                        <div class="progress" data-percentage="90">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              90%<br>
                              <span>Coding</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                      <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
                        <div class="progress" data-percentage="80">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              80%<br>
                              <span>Live Session</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                      <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
                        <div class="progress" data-percentage="50">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              50%<br>
                              <span>Others</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  




    <div id="about" class="about section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="">MEET THE TEAM</h2>
            <div class="row">
              <div class="col-lg-6">
                team pic
              </div>
              <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                founders pic
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  
    
{% endblock  %}