{% load static %}
    <head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" >
  <link href="" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'assets/images/Wisdom acc3.png' %}" type="image/x-icon">
   <!-- Bootstrap core CSS -->
   <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


   <!-- Additional CSS Files -->
   <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}">
   <link rel="stylesheet" href="{% static 'assets/css/templatemo-digimedia-v3.css'%}">
   <link rel="stylesheet" href="{% static 'assets/css/animated.css'%}">
   <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}">

<!--



-->
  <title>Wisdom Academy</title>
  
  <style type="text/css">
    @media (max-width: 780px){
      .pre-header{
        display: none;
      }
    }
  </style>
  </head>
    <!-- Pre-header Starts -->
    <div class="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-12 col-md-6 col-sm-6 d-flex flex-column 
                  align-items-stretch">
            <ul class="info">
              <li><a href="#"><i class="fa fa-envelope"></i>info@wisdomacademy.com</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>091-2544-2676</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-12 col-md-6 col-sm-6 d-flex flex-column 
                  align-items-stretch">
            <ul class="social-media">
              <li><a href="#" style="display:grid;place-content:center"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" style="display:grid;place-content:center"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" style="display:grid;place-content:center"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" style="display:grid;place-content:center"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <!-- Pre-header End -->
  
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown pt-4" data-wow-duration="0.75s" data-wow-delay="0s">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="" class="logo" >
                <img src="{% static 'assets/images/Wisdom acc3.png' %}" alt="" style="width:100px">
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
                <li class="scroll-to-section"><a href="/about">About</a></li>
                <li class="scroll-to-section"><a href="/course">Courses</a></li>
                <li class="scroll-to-section"><a href="/register/teacher">Teacher</a></li>
                <li class="scroll-to-section"><a href="#blog">Student</a></li>
                <li class="scroll-to-section"><a href="/contact">Contact</a></li>
                <li class="scroll-to-section " data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i></li>
                {% if user.is_authenticated %} 
                <li class="scroll-to-section"><div class="border-first-button"><a href="/home">Log Out</a></div></li>

                {% else %}
                <li class="scroll-to-section"><div class="border-first-button"><a href="/join">Login Now</a></div></li>
                {% endif %} 

              </ul>        
              <a class='menu-trigger'>
                  <span>Menu</span>
              </a>
              <!-- ***** Menu End 
                @TechStudioAcademy1
                #TechStudioAcademyAt5 ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>

    {% block body %}
    
    {% endblock  %}
  
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright © 2022 WisteenTechnology Co., Ltd. All Rights Reserved. </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/Javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/animation.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'boot/js/bootstrap.js' %}"></script>
  
  

  